ion-content {
  background: #212121;
}
h2 {
  color: #e35e21;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e35e21;
  text-align: justify;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffff;
}
