ion-content {
  background: #212121;
}
h2 {
  color: #ffff;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e35e21;
  text-align: center;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffff;
  font-size: small;
}
